language: python
python:
  - "2.7"
  - "3.6"
sudo: false
os:
  - linux

install:
  - pip install -r requirements.txt

script:
  - flake8 --config ./lint-configs/python/.flake8 st2auth_ldap/
  - pylint -E --rcfile=./lint-configs/python/.pylintrc st2auth_ldap/
  - nosetests -sv --with-coverage --cover-package=st2auth_ldap tests/unit
