Source: st2-auth-ldap
Section: Python
Priority: optional
Maintainer: StackStorm <opsadmin@stackstorm.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://stackstorm.com/

Package: st2-auth-ldap
Architecture: amd64
Pre-Depends: st2
Depends: ${misc:Depends}, st2, libldap2
Description: LDAP auth backend for st2
  LDAP Authentication Backend for StackStorm Enterprise Edition
